*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:none;
    outline:none;
}
div{
    display: block;
}
#app{
    font-family: coolfont;
    font-size: 0;
    -webkit-font-smoothing: antialiased; 
}
html{
    color: -internal-root-color;
}
#first{
    height: 48.19444vw;
    background: #b0ceff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color:rgb(176,206,255);
}
nav{
    width: 100%;
    height: 4.375vw;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAAA/CAYAAACLiqatAAAEBklEQ…chcJ6q1+taWlpUvc7hpU8InMeazaaq1YoePKilPRVE9D/0q+Jg4Ur84gAAAABJRU5ErkJggg==) no-repeat 0/auto 100%,url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAugAAAA/CAYAAACy/j0uAAAEYUlEQ…BrSSWJixf/jvW19aJbyYz3oAMA0DFWGpdj6d9LRbeRqf8A+YraKrmNjeIAAAAASUVORK5CYII=) no-repeat 100%/auto 100%,url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA/CAYAAAAhZaJUAAAAJklEQVQYlWOYs+P/fyYGBgYGBMFgGv8UIsaARXZEEgzmKU/QAwIA+mwMEXgoEGUAAAAASUVORK5CYII=) repeat 50%/auto 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAAA/CAYAAACLiqatAAAEBklEQ…chcJ6q1+taWlpUvc7hpU8InMeazaaq1YoePKilPRVE9D/0q+Jg4Ur84gAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAugAAAA/CAYAAACy/j0uAAAEYUlEQ…BrSSWJixf/jvW19aJbyYz3oAMA0DFWGpdj6d9LRbeRqf8A+YraKrmNjeIAAAAASUVORK5CYII=), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA/CAYAAAAhZaJUAAAAJklEQVQYlWOYs+P/fyYGBgYGBMFgGv8UIsaARXZEEgzmKU/QAwIA+mwMEXgoEGUAAAAASUVORK5CYII=);
    background-position-x: 0px,100%,50%;
    background-position-y: center,center,center;
    background-size: auto 100%,auto 100%,auto 100%;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-attachment: initial,initial,initial;
    background-origin: initial,initial,initial;
    background-clip: initial,initial,initial;
    background-color: initial;
    font-size:0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    display: block;
}
nav .wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 69.44444vw;
}
nav .wrapper .logo{
    margin-right: 1.11111vw;
    width: 10.48611vw;
    align-self: center;
}
.nav-link{
    width: 7.43056vw;
    height: 4.09722vw;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGsAAAA7CAYAAAB8MXT7AAABS2lUW…3eiu7DIWXyqBskorCIKCwiCouIwiKisIgoLCIKi4jCIvIDzVxaywK8QeMAAAAASUVORK5CYII=);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGsAAAA7CAYAAAB8MXT7AAABS2lUW…3eiu7DIWXyqBskorCIKCwiCouIwiKisIgoLCIKi4jCIvIDzVxaywK8QeMAAAAASUVORK5CYII=);
    background-position-x: initial;
    background-position-y: initial;
    background-size: 100% 100%;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 100% 100%;
    line-height: 4.09722vw;
    text-align: center;
    font-size: 1.25vw;
    cursor: default;
    color: #fff;
}
#app a{
    text-decoration: none;
}
a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
}
nav .wrapper .link{
    width: 100%;
    height: 100%;
    color: #fff;
}
.nav-link .contents{
    -webkit-transform: translateY(-.90278vw);
    transform: translateY(-.90278vw);
    transition: max-height .6s ease-out;
    overflow: hidden;
    max-height: 0;
    margin-left: .48611vw;
    border: .13889vw solid #3764e4;
    border-top: none;
    display: -ms-flexbox;
    display: flex;
    width: 6.59722vw;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #66b9ff;
}
.nav-link .contents .filler-top{
    min-height: 1.04167vw;
    background: #66b9ff;
}
.nav-link .contents .content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 6.31944vw;
    padding: .48611vw .13889vw;
    color: #fff;
    line-height: 1.38889vw;
    font-size: 1.11111vw;
    position: relative;
}
.nav-link .contents .content a{
    color: #fff;
    display: block;
}
.nav-link .contents .filler-bottom{
    min-height: 1.04167vw;
    margin-top: .13889vw;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAAAPCAYAAABk69hGAAAAZElEQ…O3XTTE0BBDQwwNMTTE0BBDQwwNMTTE0JAyzrtfcICLhlz/pwsf1xfl/gAAAABJRU5ErkJggg==);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAAAPCAYAAABk69hGAAAAZElEQ…O3XTTE0BBDQwwNMTTE0BBDQwwNMTTE0JAyzrtfcICLhlz/pwsf1xfl/gAAAABJRU5ErkJggg==);
    background-position-x: initial;
    background-position-y: initial;
    background-size: 100% 100%;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 100% 100%;
}
#banner{
    position: relative;
    top: 4.375vw;
    margin: 0 auto;
    height: 43.81944vw;
    background-image: url(../img/banner.a77d6335.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.plane{
    float: left;
    width: 3.61111vw;
    height: 1.52778vw;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAWCAYAAACPHL/WAAAH/klEQ…GJsxjmVQLU7p8++88hxhZwfOlcJ5fy3SdGGns/do2vRwD+BwRDZsFmAm0wAAAAAElFTkSuQmCC);
    background-size: 100% 100%;
    position: absolute;
    top: 21.875vw;
    left: 5.55556vw;
    -webkit-animation: plane-data-v-35938bfb 4s linear infinite;
    animation: plane-data-v-35938bfb 4s linear infinite;
}
.cars{
    float: left;
    width: 10.90278vw;
    height: 5.27778vw;
    position: absolute;
    right: 2.08333vw;
    top: 10.41667vw;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJ0AAABMCAMAAABAmkVuAAAABGdBT…2uY2L2OfPTl90qf7oedquEMIJntzpgwbRbHbjg2K0azH+tTIZzU/3kGgAAAABJRU5ErkJggg==);
    background-size: 100% 100%;
    -webkit-animation: cars-data-v-35938bfb 5s infinite;
    animation: cars-data-v-35938bfb 5s infinite;
}
#banner .light{
    position: absolute;
    left: 25vw;
    top: 11.52778vw;
    width: 51.875vw;
    height: 17.5vw;
    background: url(../img/light.8eb451ef.png) no-repeat 50%/100%;
    -webkit-animation: showUp-data-v-35938bfb 1s,changeColor-data-v-35938bfb 2s 1s infinite;
    animation: showUp-data-v-35938bfb 1s,changeColor-data-v-35938bfb 2s 1s infinite;
}
#banner .left-drill{
    width: 15.76389vw;
    height: 8.81944vw;
    position: absolute;
    top: 9.30556vw;
    left: 9.86111vw;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: 8.75vw 8.81944vw;
    transform-origin: 8.75vw 8.81944vw;
    background: url(../img/left-drill.34fc4f68.png);
    background-size: 100% 100%;
    -webkit-animation: left-rotate-data-v-35938bfb 2s;
    animation: left-rotate-data-v-35938bfb 2s;
}
#banner .right-drill{
    width: 15.97222vw;
    height: 7.01389vw;
    overflow: hidden;
    position: absolute;
    top: 5.06944vw;
    right: 8.88889vw;
    -webkit-transform: rotate(-33deg);
    transform: rotate(-33deg);
    -webkit-transform-origin: 5.55556vw 100%;
    transform-origin: 5.55556vw 100%;
    background: url(../img/right-drill.74230d99.png);
    background-size: 100% 100%;
    -webkit-animation: right-rotate-data-v-35938bfb 2s;
    animation: right-rotate-data-v-35938bfb 2s;
}
#banner .time_ul{
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: 31.94444vw;
    font-size: 2.5vw;
    color: #fff;
    font-family: coolfont;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#banner .time_ul .day{
    position: absolute;
    left: 32.29167vw;
}
#banner .time_ul li{
    width: 4.30556vw;
    overflow: hidden;
    height: 3.125vw;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
#banner .time_ul .hour{
    position: absolute;
    left: 40.90278;
}
#banner .time_ul .minute{
    position: absolute;
    right: 39.58333vw;
}
#banner .time_ul .seconds{
    position: absolute;
    right: 30.97222vw;
}
#banner .lanterns{
    position: absolute;
    top: 39.79167vw;
    left: 50%;
    -webkit-transform: translate(-46%);
    transform: translate(-46%);
    width: 23.68056vw;
    height: 2.5vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#banner .lanterns .lantern{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.25vw;
    -webkit-filter: saturate(300%) blur(.55556vw);
    filter: saturate(300%) blur(.55556vw);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAFLklEQ…DQCVwCzgL+ke4HhBuaSNy+TSwaZiRpXHd2ZxFtt21kFBP/ALekIEfdHdXTAAAAAElFTkSuQmCC) no-repeat 50%/100% 100%,#73dcff;
    -webkit-animation: lantern-data-v-35938bfb 2s infinite;
    animation: lantern-data-v-35938bfb 2s infinite;
}

